@model Product 


<div class="col-md-4 col-sm-12 my-3" >
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@Model?.ImageUrl" alt="product">
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">@Model.Price.ToString("c")</p>
            <a asp-controller="Product" asp-action="Get" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
