@model ProductDto

<div>
    <div class="col-md-12" >
        <div class="text-center">
            <h2>@Model.ProductName</h2>
            <img src="@Model?.ImageUrl" alt="@Model.ImageUrl" class="img-fluid shadow rounded-3 my-4" />

            <p class="lead text-danger" > @Model.Price.ToString("c")</p>
        </div>

    </div>
</div>

