@model IQueryable<Product>


<div class="row" >
    <div class="col-md-2" >
        @await Component.InvokeAsync("CategoriesMenu")
    </div>
    <div class="col-md-10">

        <div class="row my-4">

            @foreach (var prd in Model)
            {
                <partial name="_ProductCard" model="@prd" />
            }


        </div>

    </div>
</div>


