@page "/getintouch"
@model StoreApp.Pages.ContactModel

<div class="text-center border my-5">
    <div class="display-6 my-4" >Contact</div>
    <div class="lead" >
        <p>Store App Destek Hattı</p>
        <h3 class="text-danger" >Adres:</h3>
        <p>Ömer Nasuhi Bilmen, Erzurum Havaalanı Yolu Caddesi No:53, 25050 Yakutiye/Erzurum</p>
        <h3 class="text-danger" >Email:</h3>
        <a " href="mailto:mert.koc42@erzurum.edu.tr">mert.koc42@erzurum.edu.tr</a>
        <h3 class="text-danger mt-4">Telefon:</h3>
        <a href="tel:+905552300797">+90 555 230 0797</a>
    </div>
</div>
