
<div class="container">
    <div class="row" >
        <div class="col-md-2" >2</div>
        <div class="col-md-8">8</div>
        <div class="col-md-2">
           
            <div products="" number="5" ></div>
        </div>

        
    </div> 
    &copy; 2024 - StoreApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</div>
